:root {
    --primary-color: #0b6347;
    --primary-hover: #0c3a2b;
    --primary-light: #e3f5ef;
    --primary-light-hover: #cbf3e4;
    --primary-shadow: rgba(17, 184, 142, 0.1);
    --highlight-color: #6cebc3;

    --weak-color: #e03131;
    --weak-hover: #ffe3e3;
    --weak-light: #fff0f0;
    --weak-border: #ffc9c9;
    --weak-shadow: rgba(224, 49, 49, 0.1);
}

body {
    font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    background-color: #f7f9fa;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.input-group {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    border-color: var(--primary-color);
}

button {
    padding: 10px 16px;
    background-color: var(--primary-light);
    color: var(--primary-color);
    border: 1px solid var(--primary-color); 
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: var(--primary-light-hover);
    box-shadow: 0 4px 10px var(--primary-shadow);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 15px 0;
}